.info-preload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: 0 1 20%;
  border: 1px solid #000;
}

.section-user-info-show,
.section-user-info-hide {
  position: relative;
  display: flex;
  flex-direction: column;

  flex: 0 1 20%;

  border-left: 2px solid #000;
}

.host-info-container {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background: linear-gradient(#ffffff, #eae6e6);
}

.host-info__img-block {
  align-self: center;

  height: 30%;
  width: 100%;
}

// .host-info__img {
//   width: 100%;
//   height: 100%;
// }

.host-info__data-block {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 5%;
}

.host-info__name-text {
  font-weight: 700;
  font-size: adaptiveSizePx(13, 18, $_tableWidth, $_maxDesktopWidth);
  line-height: adaptiveSizePx(13, 18, $_tableWidth, $_maxDesktopWidth);
  text-transform: capitalize;

  padding-bottom: 4%;

  color: #000;
}

.host-info__status-text {
  max-width: 100%;
  font-weight: 400;
  font-size: adaptiveSizePx(11, 14, $_tableWidth, $_maxDesktopWidth);
  line-height: adaptiveSizePx(11, 14, $_tableWidth, $_maxDesktopWidth);
  overflow-wrap: break-word;
  word-wrap: break-word;

  padding-bottom: 10%;

  color: #5F6164;
}

.host-info__social-network-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  padding-bottom: 10%;
}

.host-info__social-network-item {
  margin-right: 4%;
}

.host-info__social-network-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: adaptiveSizePx(22, 25, $_tableWidth, $_maxDesktopWidth);
  height: adaptiveSizePx(22, 25, $_tableWidth, $_maxDesktopWidth);

  background: #000000;

  border-radius: 50%;

  &:hover {
    background: #c34e4e;
  }
}

.host-info__social-network-icon {
  fill: #ffffff;

  width: adaptiveSizePx(10, 13, $_tableWidth, $_maxDesktopWidth);
  height: adaptiveSizePx(10, 13, $_tableWidth, $_maxDesktopWidth);
}

.host-info__contacts {
  display: flex;
  flex-direction: column;
}

.host-info__contacts-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.host-info__email-text {
  font-weight: 400;
  font-size: adaptiveSizePx(13, 18, $_tableWidth, $_maxDesktopWidth);
  line-height: adaptiveSizePx(13, 18, $_tableWidth, $_maxDesktopWidth);
  text-transform: capitalize;

  padding-right: 5%;

  color: #5F6164;
}

.host-info__email-link {
  font-weight: 700;
  font-size: adaptiveSizePx(13, 18, $_tableWidth, $_maxDesktopWidth);
  line-height: adaptiveSizePx(13, 18, $_tableWidth, $_maxDesktopWidth);

  align-self: center;

  color: #000000;

  &:hover {
    color: #c34e4e;
  }
}

.host-info__arrow-block {
  display: none;
  border: 2px solid #000;
  border-radius: 5px;

  &:hover {
    opacity: 1;
    background-color: #000;
  }

  &:hover .arrow-icon-right {
    opacity: 1;
    fill: #fff;
  }
}

.host-info__arrow-btn {
  border: none;
  outline: none;
  background-color: inherit;
}

.host-info__edit-block {
  position: absolute;

  bottom: 1%;
  right: 5%;
}

.host-info__edit-btn {
  text-transform: capitalize;
  color: #03a9f4;
  background: #eae6e6;

  border: none;
}

@media screen and (max-width: $smDesktopWidth) {
  .section-user-info-show {
    position: absolute;

    left: 23.8%;

    display: flex;

    height: 100%;
    width: 76.2%;

    background: #00000021;;
  }

  .section-user-info-hide {
    display: none;
  }

  .host-info-container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-self: flex-end;

    width: 35%;

    z-index: 9;

  }

  .host-info__arrow-block {
    opacity: 0.4;
    display: block;
    position: absolute;

    bottom: 1%;
    left: 2%;
  }

}

@media screen and (max-width: $tableWidth) {
  .section-user-info-show {
    position: absolute;
    justify-content: center;

    background: linear-gradient(#ffffff, #eae6e6);
  }

  .host-info-container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-self: center;

    width: 40%;
    max-height: 70%;

    // padding: 0 3% 3%;

    background: none;
    border: 1px solid #000;
  }

  .host-info__img-block {
    height: 35%;
  }

  .host-info__name-text {
    font-size: adaptiveSizePx(14, 17, $_phoneWidth, $_tableWidth);
    line-height: adaptiveSizePx(14, 17, $_phoneWidth, $_tableWidth);
  }

  .host-info__social-network-link {
    width: adaptiveSizePx(23, 28, $_phoneWidth, $_tableWidth);
    height: adaptiveSizePx(23, 28, $_phoneWidth, $_tableWidth);
  }

  .host-info__social-network-icon {
    width: adaptiveSizePx(10, 12, $_phoneWidth, $_tableWidth);
    height: adaptiveSizePx(10, 12, $_phoneWidth, $_tableWidth);
  }

  .host-info__email-text {
    font-size: adaptiveSizePx(12, 15, $_phoneWidth, $_tableWidth);
    line-height: adaptiveSizePx(12, 15, $_phoneWidth, $_tableWidth);
  }

  .host-info__email-link {
    font-size: adaptiveSizePx(12, 15, $_phoneWidth, $_tableWidth);
    line-height: adaptiveSizePx(12, 15, $_phoneWidth, $_tableWidth);
  }

  .host-info__status-text {
    font-size: adaptiveSizePx(11, 14, $_phoneWidth, $_tableWidth);
    line-height: adaptiveSizePx(11, 14, $_phoneWidth, $_tableWidth);
  }
}

@media screen and (max-width: $smTableWidth) {
  .section-user-info-show {
    left: 19.0%;
    width: 81.0%;

    border: none;
  }

  .host-info-container {
    width: 50%;
  }

  .host-info__img-block {
    height: 38%;
  }
}

@media screen and (max-width: $phoneWidth) {
  .section-user-info-show {
    left: 0px;
    width: 100%;
  }

  .host-info-container {
    max-height: 100%;
    width: 70%;

    padding-top: 8%;

    border: none;
  }

  .host-info__img-block {
    height: 40%;

    border-radius: 50%;

    margin-bottom: 20%;
  }

  .host-info__arrow-block {
    border: none;
    border-radius: 0px;
  }

  .host-info__name-text {
    font-size: adaptiveSizePx(15, 20, $_smPhoneWidth, $_phoneWidth);
    line-height: adaptiveSizePx(15, 20, $_phoneWidth, $_phoneWidth);
  }

  .host-info__social-network-link {
    width: adaptiveSizePx(23, 40, $_smPhoneWidth, $_phoneWidth);
    height: adaptiveSizePx(23, 40, $_smPhoneWidth, $_phoneWidth);
  }

  .host-info__social-network-icon {
    width: adaptiveSizePx(10, 17, $_smPhoneWidth, $_phoneWidth);
    height: adaptiveSizePx(10, 17, $_smPhoneWidth, $_phoneWidth);
  }

  .host-info__email-text {
    font-size: adaptiveSizePx(13, 17, $_smPhoneWidth, $_phoneWidth);
    line-height: adaptiveSizePx(13, 17, $_smPhoneWidth, $_phoneWidth);
  }

  .host-info__email-link {
    font-size: adaptiveSizePx(13, 17, $_smPhoneWidth, $_phoneWidth);
    line-height: adaptiveSizePx(13, 17, $_smPhoneWidth, $_phoneWidth);
  }

  .host-info__status-text {
    font-size: adaptiveSizePx(14, 17, $_phoneWidth, $_tableWidth);
    line-height: adaptiveSizePx(14, 17, $_phoneWidth, $_tableWidth);
  }
}