.main-content {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 88%;

  background-color: #fff;
}

.container-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.user-desktop {
  width: 33%;
  border: 1px solid #000;
}

.user-info {
  width: 33%;
  border: 1px solid red;
}
