.add-channel {
  transition: all 0.5s;

  &.modal-user-info-hide {
    transform: translateY(-300%);
  }

  &.modal-user-info-show {
    transform: translateY(0%);
  }
}

.edit-user-data-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
