*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

body {
  margin: 0;

  min-width: 320px;

  font-family: $mainFont;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #000;
  text-transform: none;

  overflow-x: hidden;
}

.page-main {
  position: relative;

  margin: 0 auto;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.center-margin-auto {
  margin: 0 auto;
}

.container-flex-row {
  display: flex;
  flex-direction: row;
}

.container-flex-column {
  display: flex;
  flex-direction: column;
}

.arrow-icon-right {
  transform: rotate(0deg);
}

.arrow-icon-left {
  transform: rotate(180deg);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
