.user-desktop-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1vh 1vw;

  border-bottom: 1px solid #0000003d;
}

.info-room {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  flex: 1 0 80%;

  padding: 0 2vw;
}

.info-room__title {
  flex: 1 0 40%;

  font-weight: 700;
  font-size: adaptiveSizePx(16, 20, $_smDesktopWidth, $_maxDesktopWidth);
  line-height: adaptiveSizePx(20, 24, $_smDesktopWidth, $_maxDesktopWidth);

  padding-right: 10vw;

  text-transform: capitalize;
}

.info-room__count-users {
  position: relative;

  flex: 1 0 10%;

  font-weight: 400;
  font-size: adaptiveSizePx(12, 14, $_smDesktopWidth, $_maxDesktopWidth);
  line-height: adaptiveSizePx(14, 17, $_smDesktopWidth, $_maxDesktopWidth);

  padding-right: 10vw;

  color: #A4A4A4;
}

.info-room__count-users::before {
  content: "";
  position: absolute;

  top: -5%;
  left: adaptiveSizePx(-25, -30, $_smDesktopWidth, $_maxDesktopWidth);

  width: adaptiveSizePx(16, 20, $_smDesktopWidth, $_maxDesktopWidth);
  height: adaptiveSizePx(16, 20, $_smDesktopWidth, $_maxDesktopWidth);

  background-repeat: no-repeat;
  background-size: cover;
}

.menu-room-form-search {
  position: relative;
  flex: 1 0 50%;

  &:hover .menu-room-search__icon {
    fill: red;
  }
}

.menu-room-search__input {
  padding: 0.8vh 0.8vw;

  width: 100%;

  font-weight: 400;
  font-size: adaptiveSizePx(12, 14, $_smDesktopWidth, $_maxDesktopWidth);
  line-height: adaptiveSizePx(15, 17, $_smDesktopWidth, $_maxDesktopWidth);
  text-transform: capitalize;

  color: #8D8D8D;

  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.24);

  background-color: transparent;
}

.menu-room-search__btn {
  position: absolute;
  top: 25%;
  right: 5%;

  border: none;
  background: transparent;

  cursor: pointer;
}

.desktop-menu-room {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  flex: 1 0 20%;

  padding: 0 0 0 8vw;
}

.menu-room-list {
  position: absolute;

  top: 4.5vh;
  right: 1.3vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 0 10%;

  width: 15vw;

  background: #f1f1f1;
  border: 1px solid #000;
  border-radius: 7px;

  animation: bounce-keyframes 0.2s;

  z-index: 10;
}

.menu-hide {
  display: none;
}

.menu-room-item {
  padding-bottom: 1vh;
  color: #000;
}

.menu-room-btn {
  background: transparent;
  border: 1px solid #00000000;
  border-radius: 5px;

  outline: none;

  &:focus .menu-room-icon {
    fill: red;
  }
}

.menu-room-icon {
  fill: #000000;
  width: adaptiveSizePx(12, 14, $_smDesktopWidth, $_maxDesktopWidth);
  height: adaptiveSizePx(22, 25, $_smDesktopWidth, $_maxDesktopWidth);

  opacity: 0.3;

  &:hover {
    fill: red;
  }
}