.main-login {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // height: 100%;
  z-index: 1;
}

.form-sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: adaptiveSizePx(400, 600, $_phoneWidth, $_maxDesktopWidth);
  margin: 5% auto 0;

  background-color: #383B3F;
  border-radius: 10px;
}

.wrap-sign-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;

  width: 80%;
}

.sign-in-data {
  padding-top: 10%;
}

.sign-in-data__item {
  position: relative;

  display: flex;
  flex-direction: column;

  padding-bottom: 6%;
}

.error-valid-item::after {
  content: "x";

  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;

  text-align: center;
  color: red;

  cursor: pointer;
}

.sign-in-data__text {
  position: relative;

  align-self: flex-start;

  padding-left: 3%;
  padding-bottom: 3%;

  font-size: adaptiveSizePx(12, 20, $_smPhoneWidth, $_maxDesktopWidth);
  font-weight: 500;
  line-height: 25px;

  color: #fff;
}

.sign-in-data__input {
  padding-top: 3%;
  padding-bottom: 1%;

  border: 3px solid #fff;

  border-radius: 5px;

  background-color: #F4F5F4;

  outline: none;

  &:focus  {
    border: 3px solid #ff000070;
  }

  &::placeholder {
    font-size: adaptiveSizePx(12, 18, $_smPhoneWidth, $_maxDesktopWidth);
  }

}

.sign-in-data__remember {
  padding-bottom: 8%;
}

.sign-in-data__remember-text {
  padding-left: 3%;
  font-size: adaptiveSizePx(9, 15, $_smPhoneWidth, $_maxDesktopWidth);

  color: #fff;
}

.sign-in-btn-submit {
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;

  padding-top: 3%;
  padding-bottom: 3%;

  margin-bottom: 5%;

  background-color: #03a9f4;

  color: #000000ab;

  border: none;
  border-radius: 5px;
  outline: none;

  &:hover {
    background-color: #00bcd4;
    color: #fffffff0;

    cursor: pointer;
  }
}

.error-valid-password {
  position: relative;
  border: 1px solid red;
}

@media screen and (max-width: $phoneWidth) {
  .form-sign-in {
    width: 100%;
  }  
}
