// .side-bar {
//   position: relative;
//   flex: 0 1 20%;

//   background-color: #25272a;

//   overflow: auto;
// }

// .side-bar-block {
//   display: flex;
//   flex-direction: column;

//   padding-top: 2vh;
//   padding-left: 2vw;
//   padding-right: 2vw;
// }

.search-room {
  position: relative;

  width: 100%;

  margin-bottom: 2vh;
}

.search-room__input {
  width: 100%;

  padding: 2%;

  border-radius: 5px;
  border: 1px solid #fff;

  &:focus {
    outline: none;
    border: 1px solid red;
    box-shadow: 0 0 0 1pt red;
  }

  &::placeholder {
    font-size: adaptiveSizePx(11, 15, $_phoneWidth, $_maxDesktopWidth);
  }
}

.search-room__list {
  display: none;

  width: 100%;

  margin: 0.5vh 0;

  position: absolute;
  top: 105%;

  background: #fff;

  z-index: 10;
}

.search-room__item {
  padding: 1vh 1vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #fff;

  &:hover {
    background: #f3f3f3;
  }

  &:hover .search-room__icon {
    fill: black;
  }
}

.search-room__input:focus + .search-room__list,
.search-room__list:hover {
  display: block;
}

.search-room__link {
  color: black;
}

.search-room__icon {
  fill: #fff;

  width: adaptiveSizePx(12, 14, $_phoneWidth, $_maxDesktopWidth);
  height: adaptiveSizePx(12, 14, $_phoneWidth, $_maxDesktopWidth);
}

.channels-header,
.friends-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 1vw;

  color: #919191;
}

.channels-header__text,
.friends-header__text,
.channels-header__count,
.friends-header__count {
  font-size: adaptiveSizePx(12, 14, $_smDesktopWidth, $_maxDesktopWidth);
  font-weight: 700;
  text-transform: uppercase;
  line-height: adaptiveSizePx(12, 14, $_smDesktopWidth, $_maxDesktopWidth);
}

.channels__list,
.friends__list {
  display: flex;
  flex-direction: column;
}

.channels__list {
  padding-left: 1.2vh;
}

.friends__item,
.channels__item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.channels__item {
  padding: 0.5vh 0;
}

.friends__item {
  padding: 1vh 0;
}

.channels__link {
  color: #fff;
  font-weight: 400;
  font-size: adaptiveSizePx(15, 17, $_smDesktopWidth, $_maxDesktopWidth);
  line-height: adaptiveSizePx(15, 17, $_smDesktopWidth, $_maxDesktopWidth);
}

.friends__link {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 1.5vw;

  font-weight: 400;
  font-size: adaptiveSizePx(12, 14, $_smDesktopWidth, $_maxDesktopWidth);
  line-height: adaptiveSizePx(14, 17, $_smDesktopWidth, $_maxDesktopWidth);

  color: #b5b5b5;

  &--online::after,
  &--offline::after {
    content: "";

    position: absolute;

    left: 0;

    width: adaptiveSizePx(7, 8, $_smDesktopWidth, $_maxDesktopWidth);
    height: adaptiveSizePx(7, 8, $_smDesktopWidth, $_maxDesktopWidth);

    border-radius: 50%;
  }

  &--online::after {
    background-color: #2cc726;
  }

  &--offline::after {
    background-color: grey;
  }

  &:hover {
    color: red;
  }

  &--active {
    color: red;
  }
}

.friends__user-img {
  margin-right: 30%;
  width: adaptiveSizePx(30, 34, $_smPhoneWidth, $_maxDesktopWidth);
  height: adaptiveSizePx(30, 34, $_smPhoneWidth, $_maxDesktopWidth);

  background: #fff;

  border: 1px solid #b5b5b5;
  border-radius: 5px;
}

.side-bar-desktop__arrow-block {
  display: none;
}

@media screen and (max-width: $smDesktopWidth) {
  // .side-bar {
  //   flex: 0 1 25%;
  // }
}

@media screen and (max-width: $smTableWidth) {
  // .side-bar {
  //   flex: 0 1 20%;
  // }

  .friends__link {
    margin-left: 20%;

    font-size: adaptiveSizePx(10, 12, $_smPhoneWidth, $_smTableWidth);
    line-height: adaptiveSizePx(10, 12, $_smPhoneWidth, $_smTableWidth);
  }

  .friends__user-img {
    display: none;
  }
}

@media screen and (max-width: $phoneWidth) {
  .side-bar-desktop__arrow-block {
    display: block;
    position: absolute;

    bottom: 1%;
    left: 95%;

    & .arrow-icon-left {
      fill: #ffffff;
    }
  }

  .side-bar-phone-show {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
  }

  .side-bar-block {
    padding: 2vh 15vw 2vh 15vw;
  }

  .side-bar-phone-hide {
    display: none;
  }

  .friends__user-img {
    display: block;
  }

  .search-room__input {
    &::placeholder {
      font-size: adaptiveSizePx(11, 14, $_smPhoneWidth, $_phoneWidth);
    }
  }

  .channels-header__text,
  .friends-header__text,
  .channels-header__count,
  .friends-header__count {
    font-size: adaptiveSizePx(11, 12, $_smPhoneWidth, $_phoneWidth);
    line-height: adaptiveSizePx(11, 12, $_smPhoneWidth, $_phoneWidth);
  }

  .channels__link {
    font-size: adaptiveSizePx(13, 15, $_smPhoneWidth, $_phoneWidth);
    line-height: adaptiveSizePx(13, 15, $_smPhoneWidth, $_phoneWidth);
  }

  .channels__item {
    padding: 1.2vh 0;
  }

  .friends__item {
    padding: 1.5vh 0;
  }

  .friends__link {
    margin-left: 10%;

    font-size: adaptiveSizePx(11, 13, $_smPhoneWidth, $_phoneWidth);
    line-height: adaptiveSizePx(11, 13, $_smPhoneWidth, $_phoneWidth);
  }

  .channels__list {
    padding-left: 0vh;
  }
}
